/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Components */
@import url('components/banner.css');
@import url('components/button.css');
@import url('components/cards.css');
@import url('components/footer.css');

/* Utilities */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.main-content {
  text-align: center;
  padding: 20px 0;
}

.main-content h2 {
  margin-bottom: 0px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 200px;
}
